<h1><%= @dog.name %></h1>
<p><%= @dog.phrase %></p>

<%= link_to 'Back', dogs_path  %>
<%= link_to 'Edit', edit_dog_path  %>
<%= link_to 'Remove', @dog, method: :delete, data: { confirm: 'Are you sure?' } %>


